@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  /*align-items:center;*/
  justify-content:center;
  background:black;
  padding: 30px;
  

}

ul, nav {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
} 

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
}
header h1 {
	text-transform: uppercase;
	color: rgba(171, 105, 52, 0.972)
	
}
header nav {
  
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
header nav li {
	margin: 0 15px;
	color: rgba(171, 105, 52, 0.972);
	font-size: 20px;
}
header nav li:first-child {
	margin-left: 0;
}
header nav li:last-child {
	margin-right: 0;
}
@media(max-width:1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width:700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header nav li {
		margin: 0 7px;
	}
}
.container{

   position:relative;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   padding: 35px 10px 0;
    
    width: 70%;
    
    /*align-items:center;*/
	
	
	  
  }
  @media (max-width:720px) {
    .container  {
     width: 100%;
    }
  }
  
  @media (max-width:720px) {
    .container .forms {
      padding: 25px 30px;
    }
  }

  
  .container .forms{
    
    padding: 25px 30px;
    height: 100%;
    width: 100%;
    background: red;
  }
  .forms .form-content {
    background-color:pink;
    margin-top: 40px;
    padding: 40px;
  }
 
  .forms .form-content .title{

    margin-left: 10px;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  .form-content .gender-info{
    
      font-size: 15px;
      font-weight: 500;
      margin: 20px;
      color: gray;
     }
     form .category{
       display: flex;
       width: 80%;
       margin: 14px 0 ;
       justify-content: space-between;
     }
     form .category label{
       display: flex;
       align-items: center;
       cursor: auto;
     }
     form .category label .dot{
      height: 18px;
      width: 18px;
      border-radius: 50%;
      margin-right: 10px;
      background: #f1efef;
      border: 5px solid transparent;
      transition: all 0.3s ease;
    }
     #dot-1:checked ~ .category label .one,
     #dot-2:checked ~ .category label .two,
     #dot-3:checked ~ .category label .three{
       background:rgba(171, 105, 52, 0.972);
       border-color: #d9d9d9;
     }
     form input[type="radio"]{
       display: none;
     }

  .forms .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 90%;
    margin: 10px 20px;
    position: relative;
  }
  .form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .form-content .input-box input:focus,
  .form-content .input-box input:valid{
    border-color: rgba(171, 105, 52, 0.972);
  }
  .form-content .input-box i{
    position: absolute;
    color: rgba(171, 105, 52, 0.972);
    font-size: 17px;
  }
  .forms .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .text a{
    text-decoration: none;
  }
  .forms .form-content .text a:hover{
    text-decoration: underline;
  }
  .forms .form-content .button{
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .forms .form-content .button input{
    color: #fff;
    background: black;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    
  }
  .forms .form-content .button input:hover{
    background: rgba(171, 105, 52, 0.972);
    
      letter-spacing: 2px;
  
  }
 